.thumbnails {
  justify-content: center;
}
.carousel-caption-bottom {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem 3rem 2rem;
  display: flex;
  border-top: 3px solid #c00;
  justify-content: center;
  align-items: center;
}
.fade:not(.show) {
  opacity: inherit !important;
}
